* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /* Famílias tipográficas */
  --font-asap: "Asap", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-maven: "Maven Pro", sans-serif;

  /* Estilos de texto */
  --h1: 700 56px/120% var(--font-asap);
  --h2: 700 24px/120% var(--font-asap);
  --h3: 700 16px/120% var(--font-asap);

  --intro-text: 400 20px/120% var(--font-inconsolata);
  
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);
}

body {
  background color: var(--gray-400);
}

.container {
  max-width: 1366px;
  padding-inline: 163px;
  margin-inline: auto;
}

.container-2 {
  padding-inline: 239px;
  margin-inline: auto;
}

main {
  background-color: var(--gray-500);
  height: 917px;
}

img { 
  max-width: 100%;
}

/* utility-first */
.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-24 {
  gap: 24px;
}