header {
  background-color: var(--gray-400);
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
} 

.header-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  position: relative;
  width: 96px;
  height: 96px;
}

.avatar .profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--red);
  object-fit: cover;
}

.avatar .icon {
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.intro {
  padding-top: 56px;
}

.intro span {
  color:var(--gray-200);
  font: var(--intro-text);
}

.highlight {
  color: var(--red);
}

.intro h1 {
  color: var(--gray-100);
  font: var(--h1);
  padding-block: 8px 20px;
}

.intro p {
  color: var(--gray-300);
  font: var(--text-sm);
}

.header-skills {
  list-style: none;
  display: flex;
  gap: 16px;
  padding-top: 80px;
}

.header-skills li a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;

  padding: 9px 16px;;

  background: var(--gray-400);
  border-radius: 9999px;

  color: var(--gray-200);
  font: var(--text-md);
  text-decoration: none;
}

