.intro {
  background: url(../assets/Background_Intro.png) no-repeat center/cover;
  min-height: 750px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 120px;
} 

.header-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  position: relative;
  width: 112px;
  height: 112px;

  border: 2px solid var(--red);
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box ;
}

.avatar .profile {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar .icon {
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.info {
  padding-top: 56px;
}

.info span {
  color:var(--gray-200);
  font: var(--intro-text);
}

.highlight {
  color: var(--red);
  font-weight: normal;
}

.info h1 {
  color: var(--gray-100);
  font: var(--h1);
  padding-block: 8px 20px;
}

.info p {
  color: var(--gray-300);
  font: var(--text-sm);
}

.header-skills {
  list-style: none;
  display: flex;
  gap: 16px;
  padding-top: 80px;
}

.header-skills li a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;

  padding: 9px 16px;;

  background: var(--gray-400);
  border-radius: 9999px;

  color: var(--gray-200);
  font: var(--text-md);
  text-decoration: none;
}

.header-icon {
  padding-top: 94px;
}

.header-icon img {
  width: 32px;
  height: 32px;
}