#projects {
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 72px;
  padding-bottom: 144px;
}

.my-job {
  padding-bottom: 56px;
}

.my-job strong {
  font: var(--intro-text); 
}

.my-job h2 {
  font: var(--h2);
  color: var(--gray-100);
  margin-top: 8px;
}

#grid {
  gap: 24px; 
  justify-content: center;   
}

#grid figure {
  background: var(--gray-400);
  border-radius: 12px; 
  width: 330px;   
  padding: 12px;
}

#grid img {
  width: 306px;
  height: 156px;
  border-radius: 8px;
  object-fit: cover;
  padding-bottom: 20px;
}

#grid h3 {
  font: var(--h3);
  color: var(--gray-100);
  text-align: left;
  padding-bottom: 8px;
}

#grid p {
  font: var(--text-sm);
  color: var(--gray-200);
  text-align: left;
  padding-bottom: 12px;
}

#services {
  background-color: var(--gray-600); 
  text-align: center;
  
  padding-top: 88px;
}

.my-services strong {
  font: var(--intro-text); 
}

.my-services h2 {
  font: var(--h2);
  color: var(--gray-100);
  margin-top: 8px;
}

#grid-2 {
  gap: 24px; 
  justify-content: center;  
  padding-top: 56px;
  padding-bottom: 120px;
}

#grid-2 figure {
  border: 1px solid var(--gray-500);
  border-radius: 12px;
  width: 280px;
  height: 155px;
  padding: 20px 20px;
}

#grid-2 img {
  display: block;
  
  padding-bottom: 20px;
}

#grid-2 h3 {
  font: var(--h3);
  color: var(--gray-100);
  text-align: left;
  padding-bottom: 8px;
}

#grid-2 p {
  font: var(--text-sm);
  color: var(--gray-200);
  text-align: left;
  padding-bottom: 20px;
}

#my-contact {
  background: url(../assets/Background_Contacts.png) no-repeat center/cover;
  height: 787px;
  overflow: hidden;
  text-align: center;
}

#contact {
  margin-top: 128px;
}

#contact strong {
  font: var(--intro-text);
  color: var(--purple);
  padding-bottom: 8px;
}

#contact h2 {
  font: var(--h2);
  color: var(--gray-100);
  padding-bottom: 8px;
}

#contact p {
  font: var(--text-md);
  color: var(--gray-200);
  padding-bottom: 48px;
}

#social-button {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 400px;
  margin-inline: auto;  
}

#social-button li {
  display: flex;
  align-items: center;
  height: 68px;
  background-color: var(--gray-400);
  border-radius: 8px; 
  padding-left: 20px;
  gap: 12px;

  border: 1.5px solid transparent;
  transition: all 0.3s ease;
}

/* pseudo-selector*/
#social-button li:hover {
  border: 1.5px solid var(--blue);
  cursor: pointer;
}

.icon-wrapper {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}



.social-links {
  font: var(--text-md);
  color: var(--gray-200);
  padding-left: 12px;
}

#social-button li img.arrow {
  margin-left: auto;
  margin-right: 24px;
}

